services:
  web:
    build:
      context: .
    network_mode: host
    command: uvicorn managerPanel.asgi:application --host 0.0.0.0 --port 36201
    volumes:
      - .:/app
      - ./logs:/app/logs
    ports:
      - "36201:36201"
    environment:
      VITE_NOTIFICATION_URL: http://127.0.0.1:36201
    restart: unless-stopped

  cron:
    build: .
    network_mode: host
    command: python cron.py
    volumes:
      - .:/app
      - ./logs:/logs
    environment:
      TZ: Asia/Tehran
    restart: unless-stopped
    depends_on:
      - web